1. Regar todas as plantas.

In [ ]:
for contador in range(6): #o bloco de código será repetido 6 vezes
  print("Regue a planta", contador)

Regue a planta 0
Regue a planta 1
Regue a planta 2
Regue a planta 3
Regue a planta 4
Regue a planta 5

1.2 Refazer com uma estrutura de teste no início.

In [ ]:
contador = 0
while( contador <= 5 ): # condição de parada
  print("Regue a planta", contador)
  contador += 1 #incremento

Regue a planta 0
Regue a planta 1
Regue a planta 2
Regue a planta 3
Regue a planta 4
Regue a planta 5

2.Pedir pela rega apenas de tomates (0, 2, 4). Escrever 2 algoritmos.

In [ ]:
#Algoritmo1
for plantas in range (0, 6, 2):
  print("Regue a planta", plantas, "\n")
#Algoritmo2
plantas = 0
while (plantas <= 4):
  print("Regue a planta", plantas, "\n")
  plantas += 2

Regue a planta 0

Regue a planta 2

Regue a planta 4

Regue a planta 0

Regue a planta 2

Regue a planta 4

**MÓDULO**

In [ ]:
resultado = 4 % 2 # MÓDULO = RESTO
print(resultado)

resultado = 17 % 2
print (resultado)

numeroTeste = 5
if( numeroTeste %2 ==0):
  print("O número é par.")
else:
  print("O número é ímpar.")

**FUNÇÕES**: um molde pra ser executado em várias partes do programa, para não ficar repetitivo

In [ ]:
# Declarar uma função
def multiplicar (a,b): #def: declaração de função | multiplicar: nome da função | a, b: parâmetros
  multi =( a * b )
  return multi # palavra para retornar o resultado da função
# Executar uma função
res = multiplicar (6, 9) # boa prática: salvar o resultado numa variável
print(res)

#1, 3
#imprimir 1 x 3 =
def escrever_multiplicacao(um,dois):
  resultado = str(um) + " x " + str(dois) + " = " + str(um*dois)
  return resultado

frase = escrever_multiplicacao(1, 3)
print(frase)

54
1 x 3 = 3

Divisão

In [ ]:
def divisao (numA,numB):
  resultado = str(numA) + " / " + str(numB) + " = " + str(numA/numB)
  return resultado

frase = divisao (1, 2)
print(frase)

1 / 2 = 0.5

**Prática extra**

3. Regar apenas as batatas, que agora foram reorganizadas em 3, 4 e 5.

In [5]:
for batatas in range(3, 6, 1):
  print("Regue a planta ", batatas)

Regue a planta  3
Regue a planta  4
Regue a planta  5

4. Regar apenas os tomates, que foram reorganizados nos números 0, 1, 4 e 5.

In [10]:
tomates = 0
while (tomates <= 5):
  if (tomates == 2) or (tomates == 3):
    tomates += 1
    continue
  else:
    print("Regue a planta", tomates)
    tomates += 1
    continue

Regue a planta 0
Regue a planta 1
Regue a planta 4
Regue a planta 5

5. Fazer o robô regar as plantas de trás para frente.

In [14]:
for plantas in range(5,-1,-1):
  print("Regue a planta", plantas)

Regue a planta 5
Regue a planta 4
Regue a planta 3
Regue a planta 2
Regue a planta 1
Regue a planta 0

Calculadora de Tabuada

In [30]:
def calculadoraTabuada(numUsuario,fator):
  tabuada = str(numUsuario) + " x " + str(fator) + " = " + str(numUsuario*fator)
  return tabuada

print("Olá! Digite um número e, na sequência, observe surgir sua tabuada: ")
numUsuario=int(input())
print("------Tabuada do", numUsuario, "------")
fator=1
while (fator < 11):
  resultado = calculadoraTabuada(numUsuario,fator)
  print(resultado)
  fator += 1

Olá! Digite um número e, na sequência, observe surgir sua tabuada:
8
------Tabuada do 8 ------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80